.accordion-title
{
       display: flex;
  
        background-color: #eee;
        color: black;
        cursor: pointer; 
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        font-weight: bold;
      
}
.footer_title
{
    padding-left: 20px;
    size:12px;
}
.arrow
{
    margin-right: 20px;
    
}
.accordion-content{
    padding: 20px 18px;
    
    background-color: white;
    overflow: hidden;
}