.supplierbody
{
    
    background-color:rgb(248, 240, 244);
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    
    height: 377px;
}
.supplier_left
{
    width:900px;
   
    padding-left: 40px;
  
}
.supplier_right
{
    width:700px;
}

  .background-image {
    display: flex;
    z-index: 1;
    width:700px;
    height:376px;;
  }

  .sellers-img {
   
 margin-left: 450px;
   padding-bottom: 425px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width:469px;
    height:420px;
  }
  .number
  {
    display:flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 50px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    border:1px solid rgb(160, 155, 155);
    background-color:white;
  
  }
  .phn_number
  {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .phn_number p{
    margin-top: 15px;
  }
  .phn_number input
  {
    
    border:none;
    outline: none;
       padding-top: 5px;
    
    margin-left: 10px;
    
  }
  #submit
  {
    background-color: rgb(244, 51, 151);
    padding:20px;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px;
  }

 .sub_title h1{
  color:rgb(244, 51, 151);
  margin-bottom: 30px;
 }
 .supplier_buttom_body
 {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
 }